@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");

/* Base css */

html {
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
  height: 2000px;
}

body {
  margin: 0px;
}

/* Elements Css */

h1 {
  font-size: 35px;
}

h2 {
  font-size: 82px;
}

a {
  text-decoration: inherit;
  color: initial;
  font-weight: bold;
  position: relative;
  padding: 0 10px;
}

a::after {
  content: "";
  position: absolute;
  background-color: #ff6a04;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  color: #ff6a04;
}
a:hover:after {
  color: #ff6a04;
  width: 100%;
}

/* Header part */
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.xiaomi-header {
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.xiaomi-header__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.logo {
  width: 85px;
  height: auto;
}

.xiaomi-header__navigation {
  display: flex;
  gap: 42px;
}

/* Main Section CSS */

.phone-section__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone-section__img {
  width: 100%;
  object-fit: contain;
}

/* spec section  */

.spec-container {
  width: 100%;
  display: grid;
  grid-template: "item1 item2" "item1 item2";
}
.spec-container__item {
  border: 1px solid black;
}
